//
//  ProdEnvironment.xcconfig
//
//  Created by Ariel Scarafia on 15/07/2024.
//  Copyright © 2024 Applica. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SCHEME = https
HOST = secure.dashpassonline.net
ENV_ABR = P
